<div id="<%= dom_id car %>">
  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= car.make %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Trim:</strong>
    <%= car.trim %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= car.description %>
  </p>

</div>
