<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <div class ="form-floating mb-3">
    <%= form.text_field :model, class: "form-control", id: "floating input", placeholder: "Model" %>
    <%= form.label :model, for: "floating input" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_field :make, class: "form-control", id: "floating input", placeholder: "Make"  %>
    <%= form.label :make, for: "floating input" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.number_field :year, class: "form-control", id: "floating input", placeholder: "Year" %>
    <%= form.label :year, for: "floating input" %>
  </div class="form-floating">

  <div class="form-floating mb-3">
    <%= form.text_field :trim, class: "form-control", id: "floating input", placeholder: "Trim" %>
    <%= form.label :trim, for: "floating input" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :description, class: "form-control", id: "floating input", placeholder: "Description"  %>
    <%= form.label :description, for: "floating input" %>
  </div>

  <div class="form-floating">
    <%= form.submit class: "form-control" %>
  </div>
<% end %>
